@media (min-width: 1920px) {
    .post {
        .link {
            width: 350px !important;
            height: 150px !important;
            font-size: 32px;
        }
    }
}

@media(max-width: 1024px) {
    .post {
        .list {
            column-gap: 18px !important;
            row-gap: 18px !important;
            justify-content: center !important;
        }

        .link {
            height: 90px !important;
        }

    }
}

@media(max-width: 425px) {
    .post {
        flex-direction: column;

        .link {
            width: 90px !important;
        }
    }
}