@forward './minmax.scss';

.page {
    font-family: 'Nunito';
    background: linear-gradient(0deg, rgba(5, 59, 163, 1), rgba(5, 59, 163, 0));
    padding: 64px 32px;

    .body {
        display: flex;
        gap: 100px;
        margin: 30px 0;
        justify-content: space-around;
    }

    .left{
        display: flex;
        gap: 40px;
    }

    .poster {
        height: 400px;
        min-width: 350px;
        background: #969696;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }

    .title {
        font-size: 48px;
        font-weight: 500;
    }

    .text {
        margin-top: 30px;
        font-size: 24px;
        line-height: 30px;
    }
}